body {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 2%;
  margin-left: auto; margin-right: auto;
  width: 75%;

  font-size: 130%;
  text-align: justify;

  background-color: #999;
}

body h1 {
  text-align: center;
}

body p {
  font-family: georgia, helvetica, sans-serif;
}

.box-container {
  display: flex;
  flex-direction: row-reverse;
}

.box {
  text-align: center;

  border: 1px solid black;
  width: 10vw;
  line-height: 120%;
  max-height: 4vh;

  background-color: #bbb;
}

.submit {
  position: absolute;
  bottom: 5%;
  text-align: center;
	width: 5vw;
  border: 5px inset green;
  background-color: #ccc;
}
